# functions

In [3]:
n1=10
n2=30
add=n1+n2
print("addition of {} and {} is {}".format(n1,n2,add))

addition of 10 and 30 is 40

In [2]:
def addition(): 
    n1=10
    n2=30
    add=n1+n2
    print("addition of {} and {} is {}".format(n1,n2,add))
    # the output will come when we call the fun

In [1]:
addition()

NameError: name 'addition' is not defined

In [14]:
def add():
    print('hello')
    print('i am pratik')
add()

hello
i am pratik

In [13]:
add()

hello
i am pratik

In [15]:
n1=100
n2=200
print(n1+n2)

300

In [11]:
def avg():
    
    n1=10
    n2=30
    n3=40
    avarage=n1+n2+n3/3
    print("the average of {},{},and {} is {}".format(n1,n2,n3,avarage))
avg()

the average of 10,30,and 40 is 53.333333333333336

In [29]:
import random
num=random.randint(2,200)
if num%2==0:
    print("{} is even number".format(num))
else:
    print("{} is odd number".format(num))

47 is odd number

In [40]:
n1=10
n2=70
n3=29

def mul():
    print('mul:',n1*n2*n3)

In [41]:
mul()

mul: 20300

In [42]:
def div(n1,n4):
    division=n1/n4
    print("the division of {},{} is {}".format(n1,n4,division))
div(50,2)
#parameterized argument

the division of 50,2 is 25.0

In [44]:
def avg(n1,n3,n6):
    avarage=n1+n3+n6/3
    print("avarage of {},{},{} is {}".format(n1,n3,n6,avarage))
avg(50,30,60)

avarage of 50,30,60 is 100.0

In [45]:
num=12345
num%10

5

###  addition of two numbers

In [14]:
### method1
num1=30
num2=45
sum=num1+num2
print('the sum of {},{} is {}'.format(num1,num2,sum))

the sum of 30,45 is 75

In [34]:
#method2
num1=input("enter 1st no")
num2=input("enter 2nd no")
sum=float(num1) + float(num2)
print('the sum of {0},{1} is{2}'.format(num1,num2,sum))

enter 1st no4
enter 2nd no5
the sum of 4,5 is9.0

In [26]:
n=input('enter num: ')
n1=input('enter num: ')
n2=n+n1
print(n2)

enter num: 6
enter num: 9
69

In [29]:
#div
num1=input("enter 1st no")
num2=input("enter 2nd no")
div = float(num1)/float(num2)
print('the sum of {0},{1} is{2}'.format(num1,num2,div))

enter 1st no9
enter 2nd no7
the sum of 9,7 is1.2857142857142858

In [36]:
#multiplication
num1=input("enter 1st no")
num2=input("enter 2nd no")
mul= float(num1)*float(num2)
print('the multiply of {0},{1} is{2}'.format(num1,num2,mul))

enter 1st no6
enter 2nd no8
the multiply of 6,8 is48.0

## area of triangle

In [ ]:
a=eval(input('enter the height'))
b=eval(input('enter the breadth'))

area= 1/2*b*a
print('the area of {},{}is {}'.format(a,b,area))

### swap varibales

In [39]:
p=int(input("value for p"))
q=int(input("value for q"))
p,q=q,p
print("the value of p after swapping:",p)
print("the value of q after swapping:",q)

value for p90
value for q87
the value of p after swapping: 87
the value of q after swapping: 90

In [40]:
#metthod2
a=23
b=90
a,b=b,a
print("val after swap is:",a)
print("val after swap is:",b)

val after swap is: 90
val after swap is: 23

In [42]:
p=int(input("value for p"))
q=int(input("value for q"))
p = p^q
q = p^q


print("the value of p after swapping:",p)
print("the value of q after swapping:",q)

value for p7
value for q45
the value of p after swapping: 42
the value of q after swapping: 7

### generate a  random no

In [52]:
import random
bar = random.randint(2,200)
bar

149

 ## program to display calender

In [64]:
import calendar as c
print(c.calendar(2002))

                                  2002

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

# to check no is positive negative or zero

In [67]:
def nmcheck(a):
    if a>0:
        print("no is positive")
    elif a<0:
        print("no is negative")
    else:
        print("no is zero")
a=int(input("entera no"))
nmcheck(a)

entera no60
no is positive

## even or what

In [72]:
a=int(input("enter a  value for a"))
if (a%2==0):
    
        print("no is even".format(a))
    
else:
        print("no is odd".format(a))

enter a  value for a5
no is odd

### pg to check year is leap or not

In [119]:
def CheckLeap():
    Year
    Year=input("enter a num:") 
    if((Year % 400 ==0) or
       (Year % 100 !=0) &
       (Year % 4 ==0)):
        print("given year is  a leap Year".format(Year));
    else:
        print("given year is not a leap Year".format(Year))
    Year = int(input("enter a num:")) 
    CheckLeap()